<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Local nodes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Search Location</h1>
    <!-- Dropdown for source TODO: integrate -->
    <select name="schools" id="schools">
        {% for school in schools %}
        <option value="volvo">{{school.name}}</option>
        {% endfor %}
    </select>
    <!-- Dropdown for destination TODO: integrate -->
    <select name="schools" id="schools">
        {% for school in schools %}
        <option value="volvo">{{school.name}}</option>
        {% endfor %}
    </select>
    <!-- Debugging -->
    {% for school in schools %}
    <p><a class="btn btn-primary btn-lg" href="{{school.key}}">{{school.name}}</a></p>
    {% endfor %}
    <p><a class="btn btn-primary btn-lg" href="start">Start</a></p>
</div>
</body>
</html>